* {
  margin: 0;
}

body {
    background-color: ;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}



html{
  background: url(../Micalanious/River-Backgrounds-23-1920-x-1200.jpg) no-repeat fixed;
  background-size: cover;
}

#header {
    background-color: white;
    height: 10%;

}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: 22px;
}



.dropdown .dropbtn {
  font-size: 23px;
  border: none;
  outline: none;
  color: black;
  padding: ;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FAFAFF;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 22px;
}

.dropdown-content a:hover {
  background-color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #FFFFFF;
}

.topnav {
overflow: hidden;
background-color: white;
margin-bottom: 100px;
}

.topnav a {
float: right;
color: black;
text-align: center;
padding: 14px 30px;
height: 80px;
}

.topnav a:hover {
background-color: #FAFAFF;
color: black;
}

.topnav a.active {
background-color: #FAFAFF;
color: black;
}

.Logo {
  float: left;
  overflow: hidden;
  background-color: White;
  text-align: center;

  height: 80px;
}

.Title {
  color: black;
  font-size: 40px;
  float: right;
  overflow: hidden;
  background-color: White;
  text-align: center;
  padding: 14px 30px;
  height: 80px;
}

article {
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  align-self: center;
}

.VoorpellingDag{
  width: 500px;
  height: 200px;
}

.VoorspellingVandaag{
  width: 100%;
  min-height: 300px;
}

footer{
  background-color: black;
  text-align: left;
  margin-top: 15px;
  color: black;
  width: 100%
  position: inherit;
  clear: both;
  padding: 5px;
}

.About{
  padding-right: 50px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pretparkDataContainer {
  background-color: #FFFFFF;
  width: 100%;
  height: 40em;
  box-shadow: 5px 5px #00000041;
  border-radius: 10px;
}

.pretparkDataContainerLeft {
  background-color: #FFFFFF;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  float: left;
}

.pretparkDataContainerRight {
  background-color: #FFFFFF;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  float: right;
}

.pretparkTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-top: 30px;
}

.pretparkImage {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 5px 5px #a1a1a12d;
}

.pretparkDescription {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding-top: 15px;
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pretparkVoorspellingTitel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 20px;
}

.pretparkVoorspelling {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding-left: 20px;
}

.pretparkDataIconsContainer {
  width: 90%;
  height: 100px;
  margin-top: 7%;
}

.pretparkDataIconContainer {
  height: 100px;
  width: 25%;
  display: inline;
  float: left;
}

.pretparkDataIcon {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%
}

.pretparkDataIconText {
  text-align: center;
  margin-top: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.pretparkWindInfo {
  margin-left: 20%;
  margin-top: 13%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.weerbericht {
  margin-top: 13%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.locatieInfo {
  margin-left: 7%;
  margin-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: italic;
}

h1{
  margin-bottom: 10px;
}

.image {
  background-color: rgba(0, 0, 0, 0);
  color: red;
  float: left;
}

.container{
  position: relative;
  width: 100%;
}

.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 0.9;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 12%;
  transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  text-align: center;
}

.GHtext {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.Atom {
  float: right;
}

a {
  color: white;
}

mailto {
  color: black;
}
